---
layout: layouts/base.njk
---
{%- set t = locales[locale] -%}
{% include "partials/nav.njk" %}
{{ content | safe }}
{% include "partials/footer.njk" %}
<script src="/assets/js/main.js"></script>
<script src="/assets/js/language-switcher.js"></script>
