---
layout: layouts/base.njk
---
{%- set t = locales[locale] -%}
{% include "partials/nav.njk" %}
<main>
{{ content | safe }}
</main>
{% include "partials/footer.njk" %}
<script src="/assets/js/main.js" defer></script>
<script src="/assets/js/language-switcher.js" defer></script>
<script src="/assets/js/analytics.js" defer></script>
